
@import url('https://fonts.googleapis.com/css2?family=Aladin&family=Exo+2:wght@300;400;600;700&family=Work+Sans:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}


html {
    height: 100%;
}

body {
    background-color: #a52a2a;
    padding: 30px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.container {
   
    width: 960px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #fff;
    border-radius: 30px;
    
}

header {
    margin-bottom: 20px;
}

main {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
}

main button {
    width: 100px;
    font-size: 20px;
    line-height: 1.25;
    padding: 5px 20px;
    border-radius: 5px;
    user-select: none;
}

.main__header {
    display: flex;
    justify-content: space-between;
}

.header__clear {
    margin-bottom: 20px;
}

.header__clear input {
    width: 740px;
    margin-top: 10px;
    margin-left: 80px;
    -webkit-appearance: none;
    border: 3px solid #fff;
    height: 17px;
    outline: none;
    border-radius: 5px;
    background: #a52a2a;
}

.clear__slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 40px;
    background: #a52a2a;
    cursor: pointer;
    border: 3px solid #fff;
    border-radius: 5px;
}

.help__button {
    
    
}

.help__button button {
    width: 40px;
    padding: 5px;
    margin-right: 20px;
}

.main__middle {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    
    
}

.middle__left {
    width: 80px;
    
}

.middle__display {
    width: 720px;
    height: 405px;
    border: 2px solid #fafa3f;
    border-radius: 5px;
    background-color: #b9b1b1;
    margin: 10px 20px 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.middle__right {
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: rotate(-90deg);
    position: relative;
}

.size__slider {
    display: flex;
    align-items: center;
    margin-right: -40px; 
    
}


.size__slider input {
    /* -webkit-appearance: slider-vertical; /* Chromium */
    /* writing-mode: bt-lr; /* IE */
    height: 17px;
    width: 300px;
    border: 3px solid #fff;
    outline: none;
    border-radius: 5px;
    background: #a52a2a;
    -webkit-appearance: none;
    
}

.vertical__slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 40px;
    background: #a52a2a;
    cursor: pointer;
    border: 3px solid #fff;
    border-radius: 5px;
}


.right__buttons {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    gap: 30px;
    padding: 0 0 80px 0;

}

.right__buttons button {
    display: block;
}

.size__info {
    font-family: 'Aladin', cursive;
    color: #fff;
    font-size: 22px;
    transform: rotate(90deg);
    position: absolute;
    margin-right: 340px;
    display: flex;
}


.main__bottom {
    display: flex;
    justify-content: space-between;
}

.wheel {
    width: 90px;
    height: 90px;
    background-color: #fff;
    border-radius: 50%;
}

.wheel:hover {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, .99);
}

.left__wheel {
    
}

.bottom__left {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.bottom__title {
    /* flex: 1 1 auto; */
    justify-content: center;
    display: flex;
    align-items: center;
    font-family: 'Aladin', cursive;
    color: #fff;
    font-size: 40px;
    letter-spacing: 5px;
    
}

.bottom__right {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.right__wheel {
}


footer {
    text-align: center;
    
}

.github__logo{
    width: 20px;
    height: 20px;
    margin: 0 0 -3px 10px;

}

button:active, .active {
    color: #fff;
    background-color: #564646;
}

button:hover {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, .5);

}

button:target {
    color: #fff;
    background-color: #564646;
}